@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .nav-item.dropdown .dropdown-menu:not(.submenu) {
    opacity: 0;
    visibility: hidden;
    display: block;
    top: 80%;
    -webkit-transform: rotateX(-75deg);
            transform: rotateX(-75deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  .nav-item.dropdown:hover .dropdown-menu:not(.submenu) {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    border: 0px;
  }
  .features::after {
    width: 92%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .site-navigation {
    padding: 0px 20px;
  }
  .carousel-arrow {
    margin-bottom: 30px;
  }
  .testimonials-slides .testimonial-item, .testimonials-slides-3 .testimonial-item {
    padding: 0px;
    margin-bottom: 50px;
  }
  .footer-mid {
    padding-bottom: 0px;
  }
  .cta .cta-inner-section .info-box {
    padding: 70px 52px;
  }

  .blog-sidebar {
    padding-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .site-navigation {
    padding: 0px 20px !important;
  }
  .navbar {
    padding: 10px 10px;
  }
  .navbar-nav .nav-link {
    padding: 14px 20px;
    border-right: 0px;
  }
  .header-navbar.mobile-menu .primary-menu li .menu-trigger {
    color: #fff;
  }
  .testimonials-slides .testimonial-item .testimonial-text, .testimonials-slides-3 .testimonial-item .testimonial-text {
    font-size: 17px;
  }
  .carousel-arrow {
    margin-bottom: 30px;
  }
  .header-navbar .site-logo {
    width: 25%;
    margin-right: 0px;
  }
  .testimonials-slides .testimonial-item, .testimonials-slides-3 .testimonial-item {
    padding: 0px;
    margin-bottom: 50px;
  }
  .footer-mid {
    padding-bottom: 0px;
  }
  .cta .cta-inner-section .info-box {
    padding: 70px 52px;
  }
  .author-2::before {
    width: 100%;
    height: 90%;
  }
  .testimonial {
    padding-bottom: 100px;
  }
  .features-inner {
    padding: 90px 0px 70px;
  }
  .features::after {
    width: 92%;
  }


}

@media (max-width: 768px) {
  .container-padding {
    padding: 0px 30px;
  }
  .site-navigation {
    padding: 20px 20px;
  }
  .navbar-nav .nav-link {
    padding: 10px 0px;
  }
  .navbar-collapse {
    padding: 20px 40px;
  }
  .nav-menus-wrapper .nav-menu {
    display: block;
    padding-top: 20px;
  }
  .header-navbar .site-logo {
    width: 30%;
  }
  .header-navbar.mobile-menu .primary-menu li .menu-trigger {
    color: #fff;
  }
  .banner .banner-content h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .banner .banner-content p {
    max-width: 100%;
  }
  .testimonials-slides .testimonial-item, .testimonials-slides-3 .testimonial-item {
    padding: 0px;
    margin-bottom: 50px;
  }
  .testimonials-slides .testimonial-item .testimonial-text, .testimonials-slides-3 .testimonial-item .testimonial-text {
    font-size: 17px;
  }
  .carousel-arrow {
    margin-bottom: 30px;
  }
  .client-logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .features::after {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .font-lg {
    font-size: 35px;
    line-height: 47px;
  }
  .header-btn {
    margin-left: 0px;
    border-left: 0px;
    padding-left: 0px;
  }
  .subscribe-form .btn {
    position: relative;
    top: 9px;
    right: 0px;
  }
  .author-2::before {
    width: 100%;
    height: 90%;
  }
  .author-2 {
    padding-bottom: 100px;
  }
  .testimonial {
    padding-bottom: 100px;
  }
  .banner-style-2 h1 {
    font-size: 40px;
    line-height: 56px;
  }
  .cta-6 {
    padding: 80px 32px;
  }
  .cta-6 .cta-content h2 {
    font-size: 32px;
  }
  .about-wrapper::before {
    display: none;
  }
  .client-logo2 {
    text-align: center;
  }
  .banner-style-5 {
    padding-top: 10px;
  }
  .banner-style-1 .banner-content {
    padding-top: 10px;
  }
  .header-style-1 .offcanvas-icon .nav-toggler {
    background: #fff;
    color: #000;
  }
  .header-style-1 .offcanvas-icon .nav-toggler:hover {
    background: var(--theme-primary-color);
    color: #fff;
  }

  .blog-item{
    display: block;
  }
  .blog-item .post-thumb{
    margin-right: 0px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .blog-sidebar {
    padding-left: 0px;
  }
}

@media (max-width: 480px) {
  .site-navigation {
    padding: 10px 10px;
  }
  .navbar-nav .nav-link {
    padding: 14px 20px;
  }
  .font-lg {
    font-size: 28px;
    line-height: 41px;
  }
  .banner-style-3 .banner-content h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .banner-form .form-control {
    margin-bottom: 10px;
  }
  .banner-form .btn {
    position: static;
  }
  .section-heading h2 {
    font-size: 38px;
  }
  .benefit-item-2 h4 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .client-logo {
    margin: 0px;
    padding: 0px;
  }
  .header-style-1 .offcanvas-icon .nav-toggler {
    background: #fff;
    color: #000;
  }
  .header-style-1 .offcanvas-icon .nav-toggler:hover {
    background: var(--theme-primary-color);
    color: #fff;
  }



}

/*# sourceMappingURL=maps/responsive.css.map */
